@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
}

body, ul {
    margin: 0px;
    padding: 0px;
    font-size: 18px;
}

/* scrollbar */

html {
    scroll-behavior: smooth;
    scroll-padding-top: 20%;
    cursor: default;
}

body::-webkit-scrollbar {
    width: 12px;               /* width of the entire scrollbar */
}

body::-webkit-scrollbar-track {
    background: #486635;      /* color of the tracking area */
}

body::-webkit-scrollbar-thumb {
    background-color: #486635;
    border: 3px solid #4b7f2c; 
    border-radius: 20px;
}

/* geral */

a {
    color: white;
    text-decoration: none;
}

img {
    width: 110px;
}

a:hover {
    background: rgba(0, 0, 0, 0.05);
}

#logo {
    font-size: 1.5rem;
    font-weight: bold;
}

#header {
    box-sizing: border-box;
    height: 70px;
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #486635;
}

#menu {
    display: flex;
    list-style: none;
    gap: 0.5rem;
}

#menu a {
    display: block;
    padding: 0.5rem;
}

#btn-mobile {
    display: none;
    color: white;
}

@media (max-width: 600px) {
  
    body::-webkit-scrollbar-thumb {
        display: none;
    }

    body::-webkit-scrollbar-track {
        display: none;
    }

    body::-webkit-scrollbar {
        display: none;
    }

    #menu {
        display: block;
        position: absolute;
        width: 100%;
        top: 70px;
        right: 0px;
        background: #486635;
        transition: 0.6s;
        z-index: 1000;
        height: 0px;
        visibility: hidden;
        overflow-y: hidden;
  }
  #nav.active #menu {
        height: calc(100vh - 70px);
        visibility: visible;
        overflow-y: auto;
  }
  #menu a {
        padding: 1rem 0;
        margin: 0 1rem;
        border-bottom: 2px solid rgba(0, 0, 0, 0.05);
  }
  #btn-mobile {
        display: flex;
        padding: 0.5rem 1rem;
        font-size: 19px;
        border: none;
        background: none;
        cursor: pointer;
        gap: 0.5rem;
  }
  #hamburger {
        margin-top: 4.5px;
        border-top: 2px solid;
        width: 20px;
  }
  #hamburger::after,
  #hamburger::before {
        content: '';
        display: block;
        width: 20px;
        height: 2px;
        background: currentColor;
        margin-top: 5px;
        transition: 0.3s;
        position: relative;
  }
  #nav.active #hamburger {
        border-top-color: transparent;
  }
  #nav.active #hamburger::before {
        transform: rotate(135deg);
  }
  #nav.active #hamburger::after {
        transform: rotate(-135deg);
        top: -7px;
  }
}

/* Textos */

h1 {
    display: flex;
    justify-content: center;
    padding-top: 4.3%;
    color: #486635;
    font-size: 5.7vh;
}

p {
    display: flex;
    justify-content: center;
    text-align: justify;
    margin-left: 15%;
    margin-right: 15%;
    font-size: 2.9vh;
}

#imgt {
    border-radius: 13px;
    width: 15%;
    height: 15%;
    margin-top: 90px;
    border: 10px solid #486635;
}

a:hover {
    background: transparent;
}

.aa2 {
    display: flex;
    font-size: 22px;
    border-radius: 20px;
    border: 10px solid #486635 ;
    justify-content: center;
    margin-left: 200px;
    margin-right: 200px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.aa2 a {
    padding-left: 20px;
    color: black;
    padding-top: 18px;
}

.aa2-img {
    width: 50px;
    height: 50px;
    padding-top: 7px;
    padding-bottom: 7px;
}


@media only screen and (max-width: 600px) {
    
    p {
        margin-left: 60px;
        margin-right: 60px;
    }

}