@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pattaya&display=swap');


* {
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
}

body, ul {
    margin: 0px;
    padding: 0px;
    font-size: 18px;
}

/* scrollbar */

html {
    scroll-behavior: smooth;
    scroll-padding-top: 20%;
    cursor: default;
}

body::-webkit-scrollbar {
    width: 12px;               /* width of the entire scrollbar */
}

body::-webkit-scrollbar-track {
    background: #486635;      /* color of the tracking area */
}

body::-webkit-scrollbar-thumb {
    background-color: #486635;
    border: 3px solid #4b7f2c; 
    border-radius: 20px;
}

/* geral */

a {
    color: white;
    text-decoration: none;
}

.font p {
    font-family: 'Pattaya', sans-serif;
    color: white;
    font-size: 3vh;
    margin-left: 30px;
}

a:hover {
    background: rgba(0, 0, 0, 0.05);
}

#header {
    box-sizing: border-box;
    height: 70px;
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #4b7f2c;
    background-image: linear-gradient(90deg, transparent, transparent, #486635);
}

#menu {
    display: flex;
    list-style: none;
    gap: 0.5rem;
}

#menu a {
    display: block;
    padding: 0.5rem;
    font-size: 2.2vh;
}    

#btn-mobile {
    display: none;
    color: white;
}

@media (max-width: 800px) {

    .font p {
        margin-left: 10px;
        font-size: 100%;
    }

    #menu a {
        font-size: 2.6vh;
    }
  
    body::-webkit-scrollbar-thumb {
        display: none;
    }

    body::-webkit-scrollbar-track {
        display: none;
    }

    body::-webkit-scrollbar {
        display: none;
    }

    #menu {
        display: block;
        position: absolute;
        width: 100%;
        top: 70px;
        right: 0px;
        background: #4b7f2c;
        background-image: linear-gradient(90deg, transparent, transparent, #486635);
        transition: 0.6s;
        z-index: 1000;
        height: 0px;
        visibility: hidden;
        overflow-y: hidden;
  }
  #nav.active #menu {
        height: calc(100vh - 70px);
        visibility: visible;
        overflow-y: auto;
  }
  #menu a {
        padding: 1rem 0;
        margin: 0 1rem;
        border-bottom: 2px solid rgba(0, 0, 0, 0.05);
  }
  #btn-mobile {
        display: flex;
        padding: 0.5rem 1rem;
        font-size: 19px;
        border: none;
        background: none;
        cursor: pointer;
        gap: 0.5rem;
  }
  #hamburger {
        margin-top: 4.5px;
        border-top: 2px solid;
        width: 20px;
  }
  #hamburger::after,
  #hamburger::before {
        content: '';
        display: block;
        width: 20px;
        height: 2px;
        background: currentColor;
        margin-top: 5px;
        transition: 0.3s;
        position: relative;
  }
  #nav.active #hamburger {
        border-top-color: transparent;
  }
  #nav.active #hamburger::before {
        transform: rotate(135deg);
  }
  #nav.active #hamburger::after {
        transform: rotate(-135deg);
        top: -7px;
  }
}

/* Textos */

.texts h1 {
    display: flex;
    justify-content: center;
    text-align: center;
    margin-top: 80px;
    color: #486635;
    font-size: 4.5vh;
    margin-bottom: 30px;
}

.texts p {
    display: flex;
    justify-content: center;
    text-align: justify;
    margin-left: 15%;
    margin-right: 15%;
    font-size: 2.4vh;
}

#logo {
    width: 110px;
}

a:hover {
    background: transparent;
}

.aa2 {
    display: flex;
    font-size: 22px;
    border-radius: 20px;
    border: 7px solid #486635 ;
    justify-content: center;
    align-items: center;
    justify-content: center;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 3%;
}

.aa2 a {
    padding-left: 20px;
    color: black;
    text-align: center;
    padding-right: 20px;
}

.aa2-img {
    width: 50px;
    height: 50px;
    padding-top: 7px;
    padding-bottom: 7px;
    padding-right: 20px;
}

#btn-menu p {
    padding: 0px;
}

/* footer */

.sobre {
    width: 100%;
    padding-top: 7vh;
    padding-bottom: 7vh;
    color: white;
    background-color: #4b7f2c;
    background-image: linear-gradient(90deg, transparent, transparent, #486635);
    display: flex; 
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 11vh;
}

.sobre h1 {
    font-size: 23pt;
    color: rgb(0, 98, 0);
    padding-bottom: 20px;
}

.logoinst img {
    width: 16vh;
}

.logowp img {
    width: 11vh;
}

.copy {
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgb(0, 98, 0);
    cursor: default;
}


@media only screen and (max-width: 600px) {
    
    p {
        margin-left: 60px;
        margin-right: 60px;
    }
    
    .texts p {
        text-align: center;
    }

}